/*general */
p {
    margin: 0;
}

body{
    padding-left:0;
}

/*heading section*/

#pageTitleBox{
   
    display:flex;
    flex-direction:column;
    align-items: center;
}

#searchBox{
 
    width: 90%;
    margin-bottom:10px;
    height: 20px;
    border-radius:15px;
    padding-left: 10px;
    border:2px solid rgb(71, 71, 71);
}


/*side navagation */
#forumAside{
    width: 200px;
    position:fixed;
    top:150px;
    left:-200px;
}

#forumAside,
#trending {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trending {
    width: 100%;
    overflow-y:auto;
}

#forumAside a,
#trending a,
#trending p {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}


#forumAside a:hover {
    background-color: rgba(255, 255, 255, .2);
}

#trending p {
    color: grey
}



/* main section */
main {
    

    width: 85%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(234, 234, 234);
    border-radius:5px;

    padding:19px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    

}

#categoryTitle {
    font-size: 40px;

}

/* each creator content box */
.contentBox {
    padding: 10px 15px 10px 15px;
    background-color: rgb(187, 187, 187);
    box-shadow: 4px 4px 4px black;
}

.contentCreator,
.contentTitle {
    font-weight: bold;
}

.contentPreview {
    font-size: 14px
}

/*END*/

/* pop up window (not done)*/


#contentOverlay{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999999999999999999;
  }

  #contentDisplay{
        background-color: white;
        height: 500px;
        width: 700px;
        z-index: 9999999999999999999999999999;
        
        overflow-y: auto;
        position: relative;
  }

  #closeButton{
    position:absolute;
    right: 20px;
    top:20px;
    background-color: white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border:1px solid black;
    cursor: pointer;
  }

  #contentSection{
    padding:20px 50px
  }

  #contentCreator{
        font-size:20px;
        
  }

  #contentTitle{
        font-weight: bold;
        font-size:40px
  }
  #content{
        margin-top:20px;
        padding-bottom:20px;
        
  }

  #commentsSection{
    background-color: rgb(232, 232, 232);
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
    min-height:300px;
  }

  #commentsSection #title{
        color:grey;
        border-bottom:1px solid rgb(121, 121, 121);
        

  }

  .userCommentBox{
        margin-top:10px ; 
        position: relative;
        display: grid;
        grid-template: 
            "username ....." 25px
            "userComment reply" 25px
            "commentTime ....." 25px/ 1fr 100px;
        padding-left: 20px;
        padding-right:20px;
        border-bottom:1px solid rgb(121, 121, 121);
  }

  .userCommentBox .username{
        font-weight: bold;
        grid-area: username;
  }

  .userCommentBox .userComment{
        
        grid-area: userComment;
  }

  .userCommentBox .commentTime{
        font-size: smaller;
        grid-area: commentTime;
  }

  .replyButton{
        border: none;
        background-color: rgb(232, 232, 232);
        cursor: pointer;
        grid-area: reply ;
        
        
  }

/*END*/

@media only screen and (min-width:600px){
    /*general*/
    body{
        padding-left:200px;
    }

    /*side navagation */
    #forumAside{
       
        left:0px;
    }
   /*heading section*/
    #pageTitleBox{
    
        padding-right:40px;
        display:grid;
        grid-template-columns:1fr 170px;

        align-items: center;
    }

    #searchBox{
        margin-bottom:0;
        text-align: center;        
    }
}

@media only screen and (min-width:1200px){
    /*general*/
    body{
        padding-left:200px;
    }

    /*side navagation */
    #forumAside{
       
        left:0px;
    }
   /*heading section*/
    #pageTitleBox{
    
        padding-right:40px;
        display:grid;
        grid-template-columns:1fr 170px;

        align-items: center;
    }

    #searchBox{
        margin-bottom:0;
        text-align: center;        
    }
}