
nav div > a{
    color:white;
    cursor: pointer;
}

a{
    text-decoration: none;
}

nav a{
    transition:font-size .1s;
    

}

nav div > a:hover{
    
    background-color:hsl(21, 85%, 27%)
}



nav{
    /*
    background-image: url("../../Photos/WebLogoV2.png");
    background-size:contain ;
    background-repeat: no-repeat;
   */
    display:flex;
    justify-content: end;
    align-items: center;
    position:fixed;
    height: 50px;
    top:0;
    left:0;
    right:0;
    z-index:9999;
    background-color: rgb(147, 59, 11);
}

#webLogo{
    position:absolute;
    left:10px;
    color:rgb(255, 255, 255);
    background-image: url("../../Photos/WebLogoV3.png");
    margin: auto;
    height: 80%;
    aspect-ratio: 1/1;
    background-size: 100% 100%;
}

.navagation{
    
    display:none;
    flex-direction: row;
    align-items: center;
    height: 100%;
   

}

.navDisplayButton{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor:pointer
}

.navDisplayButton:hover{
    background-color: rgba(255,255,255,.1);
}



.navDisplayButton img{
    height: 70%;
    width: 70%;
 
}

/*mobile nav*/

.mobileNav{
    z-index: 99;
    position:fixed;
    left:0;
    right: 0;
    top:50px;
    bottom:0;
    background-color: rgba(146, 146, 146, 0.8);
    transform:translateY(-100%);
    transition: .1s;
}

.navagation2{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.mobileNav .navagation2 a, .navagation2 #aboutTabContainer{
    color:white;
   height: 70px;
    display: flex;
    align-items: center;
    border-bottom:1px solid white;
    width: 100%;
    justify-content: center;
}

.navagation2 a:hover, .navagation2 #aboutTabContainer:hover{
   background-color: rgba(255,255,255, .5);
}

#mobileSubdropdown{
    width: 100%;
   
    background-color: rgba(0, 0, 0, 0.5);
 
    transition:.1s;
  
}

#mobileSubdropdown a{
    height: 50px;
    border:none;
    height: 0;
    transition: .1s;
    visibility: hidden;
}

#aboutDropdownButton{
    cursor: pointer;
}







/*END mobile nav*/
/*
#aboutTabContainer{
    height: 100%;
}
*/

.navagation > div{
    height: 100%;
}

.navagation > a, .navagation > div > a{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left:20px;

    height: 100%
}

 /*drop down menu*/

 #aboutTabContainer:hover .dropdown{
    display: block; 
    
}

#aboutTabContainer{
    position:relative;

}

#aboutTabContainer a{
   height: 100%;

}

.dropdown{
    background-color: white;
    border-radius: 10px;
    position:absolute;
    bottom: -100px; /*modify here if want to move dropdown menu vertically*/
    right: -10px;
    left: -10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    display: none;
   
    
}

.dropdown ul{
    
    margin:0;
    padding: 0;

    display: flex;
    flex-direction: column;
    
  
}

.dropdown li, .dropdown a{
    margin:0;
    padding: 0;
    padding-left:20px;
    padding-right: 20px;
    text-wrap:nowrap;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:black
    
}



.dropdown li:hover{
    background-color: rgb(234, 234, 234);
}   

@media only screen and (min-width: 600px){
    .navDisplayButton{
        display:none;
    }
    .navagation{
        display: flex;
    }
}