
nav div > a{
    color:white;
    cursor: pointer;
}

a{
    text-decoration: none;
}

nav a{
    transition:font-size .1s;
    

}

nav div > a:hover{
    
    background-color:hsl(21, 85%, 27%)
}



nav{
    display:flex;
    justify-content: end;
    align-items: center;
    position:fixed;
    height: 50px;
    top:0;
    left:0;
    right:0;
    z-index:9999;
    background-color: rgb(147, 59, 11);
}

#webLogo{
    position:absolute;
    left:10px;
    color:rgb(255, 255, 255);

}

.navagation{
 
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
   

}

#aboutTabContainer{
    height: 100%;
}

.navagation > a, .navagation > div > a{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left:20px;

    height: 100%;

}

 /*drop down menu*/

 #aboutTabContainer:hover .dropdown{
    display: block;
    
}

#aboutTabContainer{
    position:relative;

}

#aboutTabContainer a{
   height: 100%;

}

.dropdown{
    background-color: white;
    border-radius: 10px;
    position:absolute;
    bottom: -100px; /*modify here if want to move dropdown menu vertically*/
    right: -10px;
    left: -10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    display: none;
   
    
}

.dropdown ul{
    
    margin:0;
    padding: 0;

    display: flex;
    flex-direction: column;
    
  
}

.dropdown li, .dropdown a{
    margin:0;
    padding: 0;
    padding-left:20px;
    padding-right: 20px;
    text-wrap:nowrap;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:black
    
}



.dropdown li:hover{
    background-color: rgb(234, 234, 234);
}   